<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="head">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- CSS 및 외부 JS 파일은 이쪽에다가 추가해주세요-->
      <!-- font -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
      <!-- fontawesome -->
      <script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
      <!-- favicon -->
      <link rel="icon" th:href="@{/images/youtube.ico}">
      <title>Youtube</title>
    </head>
  </th:block>
</html>