<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/head :: head}"></th:block>
<link rel="stylesheet" href="/css/playerPage.css">
<body>

  <header>
    <div class="logo">
      <a href="/">
        <i class="fab fa-youtube"></i>
        <span class="title">YouTube</span>
      </a>
    </div>
    <div class="icons">
      <i class="fas fa-search"></i>
      <i class="fas fa-ellipsis-v"></i>
    </div>
  </header>
  <div class="page">
    <div class="leftPage">
      <section class="player">
        <iframe th:src="|https://www.youtube.com/embed/${videoId}|" frameborder="0"></iframe>
      </section>
      <section class="info">
        <div class="metadata">
          <ul class="hashtags">
            <li>#Goorm</li>
            <li>#풀스택1회차</li>
            <li>#살려조</li>
          </ul>
          <div class="titleAndButton">
            <span th:text="${cVideo?.videoTitle}" class="title"></span>
            <button type="button" class="moreBtn"><i class="fas fa-caret-down"></i></button>
          </div>
          <span class="views">조회수 100만회 오늘</span>
        </div>
        <ul class="actions">
          <li>
            <button th:data-id="${videoId}" th:onclick="clickLike(this.getAttribute('data-id'))"><i
                    class="fas fa-thumbs-up"></i><span th:text="${heart.like}"></span></button>

            <button th:data-id="${videoId}" th:onclick="clickDisLike(this.getAttribute('data-id'))"><i
                    class="fas fa-thumbs-down"></i><span th:text="${heart.dislike}">0</span></button>
          </li>
          <li>
            <button type="button"><i class="fas fa-share"></i><span>공유</span></button>
          </li>
          <li>
            <button type="button"><i class="fas fa-plus"></i><span>저장</span></button>
          </li>
          <li>
            <button type="button"><i class="fab fa-font-awesome-flag"></i><span>신고</span></button>
          </li>
        </ul>
        <div class="channel">
          <div class="metadata">
            <img th:src="|https://img.youtube.com/vi/${videoId}/mqdefault.jpg|" alt="" />
            <div class="info">
              <span th:text="${cVideo?.channelTitle}" class="name"></span>
              <span class="subscribers">구독자 100만명</span>
          </div>
        </div>
        <button class="subscribe">구독</button>
      </div>
    </section>

    <form th:action="|/video/comment/create/${videoId}|" method="post" id="commentComit" class="comment">
      <div class="commentPost">
        <input name="commentName" class="commentPostName" type="text" placeholder="닉네임 등록...">
        <div class="commentPostContent">
          <textarea name="commentContent" class="commentPostInput" type="text" value="" placeholder="댓글 추가..."></textarea>
          <input type="submit" class="btn CommentPosting" value="등록">
        </div>
      </div>
    </form>

    <ul class="comment-list">
      <!-- 여기부터 -->
      <li th:each="comment : ${comments}">
        <!-- 댓글 -->
        <div class="commentGet">
          <div class="commentGetName" th:text="|@${comment?.commentName}|"></div>
          <div class="commentGetContent" th:text="${comment?.commentContent}"></div>
          <div class="commentfuncion">
            <button class="btn replyPostEdit">답글</button>
            <div class="commentMode">
              <button class="btn commentModify">수정</button>
              <a th:onclick="onDelete([[${comment?.commentId}]]);" class="btn-delete commentDelet">삭제</a>
            </div>
          </div>
          <!-- 대댓글 -->
          <div id="replys" class="hidden">
            <form action="/reply/save" id="reply" method="post">
              <div class="replyPost">
                <input type="hidden" name="parentId" th:value="${comment.commentId}">
                <input type="hidden" name="boardId" th:value="${comment.boardId}">
                <input class="replyPostName" name="username" type="text" placeholder="닉네임 등록..."></input>
                <div class="replyPostContent">
                  <textarea class="replyPostInput" name="content" type="text" value="" placeholder="답글 추가..."></textarea>
                  <input type="submit" class="btn ReplyPosting" value="등록"></input>
                </div>
              </div>
            </form>
            <ul class="reply-list">
              <li th:each="reply : ${comment.reply}">
                <!-- 여기부터 -->
                <div class="replyget">
                  <input type="hidden" id="reply-id" th:value="${reply.id}">
                  <input type="hidden" id="parent-id" th:value="${reply.parentId}">
                  <input class="replyPostName" id="replyPostName" name="username" type="text" th:value="${reply.username}" readonly>
                  <input class="replyPostInput" id="replyPostContent" name="username" type="text" th:value="${reply.content}" readonly>
                  <div class="replyMode">
                    <button class="btn replyModify" onclick="replyUpdateButton()">수정</button>
                    <button class="btn-delete replyDelete" th:data-parentId="${reply.parentId}" th:data-id="${reply.id}"
                            th:onclick="replyDelete(
                              this.getAttribute('data-id'),
                              this.getAttribute('data-parentId'))">삭제</button>
                  </div>
                </div>
                <!-- 여기까지 대댓글 리스트 -->
              </li>
            </ul>
          </div>
        </div>
      </li>
      <!-- 여기까지 댓글 리스트 -->
    </ul>
  </div>
    <div class="rightPage">
      <section class="recomClip">
        <span class="title">추천영상</span>
        <ul>
          <li class="item" th:each="video : ${videoList}">
            <div class="img">
              <a th:href="|/video?id=${video?.videoId}|"><img th:src="|https://img.youtube.com/vi/${video?.videoId}/mqdefault.jpg|" alt="" /></a>
            </div>
            <div class="info">
              <a th:href="|/video?id=${video?.videoId}|"><span th:text="${video?.videoTitle}" class="title"></span></a>
              <a th:href="|/video?id=${video?.videoId}|"><span th:text="${video?.channelTitle}" class="name"></span></a>
              <a th:href="|/video?id=${video?.videoId}|"><span class="view">조회수 100만회</span></a>
            </div>
            <button type="button" class="moreBtn"><i class="fas fa-ellipsis-v"></i></button>
          </li>
        </ul>
      </section>
    </div>
  </div>
<th:block th:replace="~{layout/footer :: footer}">
</th:block>
</body>
  <script src="/js/app.js"></script>
  <script src="/js/reply.js"></script>
  <script src="/js/heart.js"></script>
</html>