<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/head :: head}"></th:block>
<link rel="stylesheet" href="/css/SearchPage.css">
<body>
  <header>
    <label for="trigger">
      <i class="fa-solid fa-grip-lines"></i>
    </label>
    <div class="logoBox">
      <!-- 아이콘, 텍스트, 검색창 -->
      <span class="logo">
        <i class="fa logoIcons fa-brands fa-youtube"></i>
        <a href="/"><span class="topTitle">Youtube</span></a>
      </span>
    </div>
    <div class="searchBox">
      <span class="search">
        <input type="text" id="input-box" placeholder="검색">
        <button type="button" class="addBtn"><i class="youtube fa-solid fa-magnifying-glass" style="color: #fff;"></i></button>
      </span>
    </div>
  </header>

  <!-- sidebar -->
  <div class="sidebarBox">
    <input type="checkbox" id="trigger">
    <label for="trigger">
      <i class="fa-solid fa-grip-lines"></i>
    </label>
    <div class="sidebar">
      <div class="icons">
        <a class="iconBox" href="/"><i class="icon fa-solid fa-house"><div class="iconText">홈</div></i></a>
        <a class="iconBox" href="#"><i class="icon fa-solid fa-video"><div class="iconText">shorts</div></i></a>
        <a class="iconBox" href="#"><i class="icon fa-solid fa-thumbs-up"><div class="iconText">likes</div></i></a>
        <a class="iconBox" href="#"><i class="icon fa-solid fa-music"><div class="iconText">music</div></i></a>
      </div>
    </div>

    <!-- video부분 -->
    <main>
        <ul class="videoList">
          <li class="item" th:each="video : ${videoList}">
            <section class="player">
              <a th:href="|/video?id=${video?.videoId}|"><img th:src="|https://img.youtube.com/vi/${video?.videoId}/mqdefault.jpg|" alt=""></a>
            </section>
            <section class="inboBox">
              <span class="titleBox">
                <a th:href="|/video?id=${video?.videoId}|"><img class="profileImg" th:src="|https://img.youtube.com/vi/${video?.videoId}/mqdefault.jpg|" alt=""></a>
                <a th:href="|/video?id=${video?.videoId}|"><span class="title" th:text="${video?.videoTitle}"></span></a>
                <button type="button" class="moreBtn"><i class="fas fa-ellipsis-v"></i></button>
              </span>
              <div class="info">
                <span th:text="|By. ${video?.channelTitle}|" class="name"></span>
                <span class="view">
                  1M views one month ago
                </span>
              </div>
            </section>
          </li>
        </ul>
    </main>
  </div>
  <th:block th:replace="~{layout/footer :: footer}">

  </th:block>
</body>
</html>

